<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <%

    function prefix(host, port) {
      return function () {
        return 'http://' + host + (port === 80 ? '' : (':' + port)) + '/';
      }
    }

    var jail = prefix(config.jail, config.port);
    var base = prefix(config.base, config.port);

    %>

    <title>jsSketch | <%= (typeof sketch.id === "undefined" ? 'Home' : (sketch.id + ' v' + revision.id)) %></title>

    <link rel="stylesheet" href="<%- base() %>css/normalize.css" >
    <link rel="stylesheet" href="<%- base() %>css/jquery-ui.css" >
    <link rel="stylesheet" href="<%- base() %>codemirror/codemirror.css">
    <link rel="stylesheet" href="<%- base() %>codemirror/theme/neat.css">
    <link rel="stylesheet" href="<%- base() %>css/bootstrap.css">
    <link rel="stylesheet/less" type="text/css" href="<%- base() %>css/main.less" >

    <script src="<%- base() %>js/application.js"></script>
    <script src="<%- base() %>js/less.js"></script>
    <script src="<%- base() %>js/jquery.js"></script>
    <script src="<%- base() %>js/jquery-ui.js"></script>
    <script src="<%- base() %>js/bootstrap.js"></script>
    <script src="<%- base() %>codemirror/codemirror.js"></script>
    <script src="<%- base() %>codemirror/mode/javascript/javascript.js"></script>
    <script src="<%- base() %>codemirror/mode/css/css.js"></script>
    <script src="<%- base() %>codemirror/mode/xml/xml.js"></script>
    <script src="<%- base() %>js/sexify.js"></script>
    <script src="<%- base() %>js/panes.js"></script>
    <script src="<%- base() %>js/main.js"></script>
  </head>
  <body>
    <form id="the-form" method="post" data-save-url="<%- base() %>save" data-preview-url="<%- jail() %>preview">
      <input type="hidden" name="id" value="<%= (typeof sketch.id === 'undefined' ? '' : sketch.id) %>" />

      <div id="nav">
        <h1>jssketch</h1>

        <nav>
          <button class="btn btn-inverse btn-mini" name="preview" type="submit"><i class="icon-white icon-play"></i></button>
          <button class="btn btn-inverse btn-mini" name="save" type="submit" value="update"><i class="icon-white icon-briefcase"></i></button>

          <% if (sketch.id) { %>
            <button class="btn btn-inverse btn-mini" name="save" type="submit" value="fork"><i class="icon-white icon-random"></i></button>          
          <% } %>
        </nav>
      </div>
      <div id="main">
        <div class="pane left" id="left-pane">
          <section id="js" class="panel">
            <div class="container">
              <header>
                <h1>JS</h1>

                <label>Insert</label>

                <select name="js_insert" class="sexy-select">
                  <option value="body-wrapped">Before &lt;/body&gt; (wrapped)</option>
                  <option value="body-unwrapped">Before &lt;/body&gt; (unwrapped)</option>
                  <option value="head-wrapped">In &lt;head&gt; (wrapped)</option>
                  <option value="head-unwrapped">In &lt;head&gt; (unwrapped)</option>
                </select>

                <div class="btn-group">
                  <button class="btn btn-mini btn-primary tidy-trigger">Tidy</button>
                </div>              

              </header>
              <div class="body">
                <textarea class="codemirror" name="javascript" data-mode="javascript"><%= revision.javascript %></textarea>
              </div>
            </div>
          </section>
          <section id="html" class="panel">
            <div class="container">
              <header>
                <h1>HTML</h1>

                <label>
                  DocType
                </label>

                <select name="doctype" class="sexy-select">
                <% for (var x in doctypes) { %>
                  <option value="<%= x %>" <%= revision.doctype === x ? "selected" : "" %>><%= doctypes[x].description %></option>
                <% } %>
                </select>

                <div class="btn-group">
                  <button class="btn btn-mini btn-primary tidy-trigger">Tidy</button>
                </div>  
              </header>
              <div class="body">
                <textarea class="codemirror" name="html" data-mode="xml"><%= revision.html %></textarea>
              </div>
            </div>
          </section>
          <section id="css" class="panel">
            <div class="container">
              <header>
                <h1>CSS</h1>

                <div class="btn-group">
                  <button class="btn btn-mini btn-primary tidy-trigger">Tidy</button>
                </div>                
              </header>
              <div class="body">
                <textarea class="codemirror" name="css" data-mode="text/css"><%= revision.css %></textarea>
              </div>
            </div>
          </section>            
        </div>
        <div class="pane right" id="right-pane">
          <section id="preview" class="panel">
            <div class="container">
              <header>
                <h1>PREVIEW</h1>
              </header>
              <div class="body">
                <div class="shield"></div>
                <iframe id="render" <%- (typeof sketch.id === "undefined" ? '' : ('src="' + jail() + 'preview/' + sketch.id + '/' + revision.id + '"')) %> />
              </div>
            </div>
          </section> 
        </div>
      </div>
    </form>
  </body>
</html>