<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    <title>jsSketch | {{#if sketch.id}}{{sketch.id}} v{{revision.id}} {{else}}Home{{/if}}</title>

    {{#each stylesheets}}
    <link rel="{{rel this}}" href="{{base this ../settings}}" />
    {{/each}}

    {{#each scripts}}
    <script src="{{base this ../settings}}"></script>
    {{/each}}
    <script data-main="/js/dep.js" src="/js/require.js"></script>

    <script>
      var App = {
        css: {{jsonify css}},
        js: {{jsonify js}},
        doctypes: {{jsonify doctypes}}
      };
    </script>

    <script id="source-template" type="text/x-handlebars-template">
      {{> preview}}
    </script>
  </head>
  <body>
    <form id="the-form" method="post" data-save-url="{{base "save"}}" data-preview-url="{{jail "preview"}}">
      <input type="hidden" name="id" value="{{#if sketch.id}}{{sketch.id}}{{/if}}" />

      <input type="hidden" name="js_assets" value="[{&quot;type&quot;:&quot;js&quot;,&quot;parent&quot;:{&quot;type&quot;:&quot;js&quot;,&quot;library&quot;:2,&quot;id&quot;:&quot;1&quot;},&quot;library&quot;:1,&quot;id&quot;:&quot;1&quot;},{&quot;parent&quot;:null,&quot;type&quot;:&quot;js&quot;,&quot;library&quot;:2,&quot;id&quot;:&quot;1&quot;}]" />
      <input type="hidden" name="css_assets" value="[{&quot;parent&quot;:null,&quot;type&quot;:&quot;css&quot;,&quot;library&quot;:1,&quot;id&quot;:&quot;2&quot;},{&quot;parent&quot;:{&quot;type&quot;:&quot;js&quot;,&quot;library&quot;:2,&quot;id&quot;:&quot;1&quot;},&quot;library&quot;:2,&quot;type&quot;:&quot;css&quot;,&quot;id&quot;:&quot;1&quot;}]" />

      <div id="nav">
        <h1>jssketch</h1>

        <nav>
          <button class="btn btn-inverse btn-mini" name="preview" type="submit"><i class="icon-white icon-play"></i></button>
          <button class="btn btn-inverse btn-mini" name="save" type="submit" value="update"><i class="icon-white icon-briefcase"></i></button>

          {{#if sketch.id}}
            <button class="btn btn-inverse btn-mini" name="save" type="submit" value="fork"><i class="icon-white icon-random"></i></button>
          {{/if}}
        </nav>
      </div>
      <div id="main">
        <div class="pane left" id="left-pane">
          <section id="js" class="panel">
            <div class="container">
              <header>
                <h1>JS</h1>

                <label>Insert</label>

                <select name="js_insert" class="sexy-select">
                  <option value="body-wrapped">Before &lt;/body&gt; (wrapped)</option>
                  <option value="body-unwrapped">Before &lt;/body&gt; (unwrapped)</option>
                  <option value="head-wrapped">In &lt;head&gt; (wrapped)</option>
                  <option value="head-unwrapped">In &lt;head&gt; (unwrapped)</option>
                </select>

                <div class="btn-group">
                  <button class="btn btn-mini btn-primary tidy-trigger" type="button">Tidy</button>
                </div>

              </header>
              <div class="body">
                <textarea class="codemirror" name="javascript" data-mode="javascript">{{revision.javascript}}</textarea>
              </div>
            </div>
          </section>
          <section id="html" class="panel">
            <div class="container">
              <header>
                <h1>HTML</h1>

                <label>
                  DocType
                </label>

                <select name="doctype" class="sexy-select">
                {{#each doctypes}}
                  <option value="{{this.id}}">{{this.description}}</option>
                {{/each}}
                </select>

                <div class="btn-group">
                  <button class="btn btn-mini btn-primary tidy-trigger" type="button">Tidy</button>
                </div>
              </header>
              <div class="body">
                <textarea class="codemirror" name="html" data-mode="xml">{{revision.html}}</textarea>
              </div>
            </div>
          </section>
          <section id="css" class="panel">
            <div class="container">
              <header>
                <h1>CSS</h1>

                <div class="btn-group">
                  <button class="btn btn-mini btn-primary tidy-trigger" type="button">Tidy</button>
                </div>
              </header>
              <div class="body">
                <textarea class="codemirror" name="css" data-mode="text/css">{{revision.css}}</textarea>
              </div>
            </div>
          </section>
        </div>
        <div class="pane right" id="right-pane">
          <section id="preview" class="panel">
            <div class="container">
              <header>
                <h1>PREVIEW</h1>
              </header>
              <div class="body">
                <div class="shield"></div>
                <iframe id="render" {{#if sketch.id}}src="{{jail "preview" sketch.id revision.id}}"{{/if}}></iframe>
              </div>
            </div>
          </section>
          <section id="source" class="panel">
            <div class="container">
              <header>
                <h1>SOURCE VIEWER</h1>
              </header>
              <div class="body">
                <textarea class="codemirror" data-mode="xml"></textarea>
              </div>
            </div>
          </section>
        </div>
      </div>
    </form>
  </body>
</html>