{{{doctype.doctype}}}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    {{#iter revision.cssAssets}}<link rel="stylesheet" href="{{this.properties.version.properties.url}}" />
    {{/iter}}{{#if revision.properties.css}}<style>
      {{{pad revision.properties.css 6}}}
    </style>
    {{/if}}
    {{#iter revision.jsAssets}}<script src="{{this.properties.version.properties.url}}"></script>
    {{/iter}}{{#if revision.properties.javascript}}<script>
      {{{pad revision.properties.javascript 6}}}
    </script>
    {{/if}}
  </head>
  <body>
    {{{pad revision.properties.html 4}}}
  </body>
</html>