<%- doctypes[revision.doctype].doctype %>
<%
  function pad(str, len) {
    var spaces = (new Array(len + 1)).join(' ');

    return str.replace(/\n/g, '\n' + spaces);
  }
-%>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<% revision.cssAssets.forEach(function (asset) { -%>
   <link rel="stylesheet" href="<%- asset.version.url %>"/>
<% }) -%>
<% if (revision.css.length) { -%>

    <style>
      <%- pad(revision.css, 6) %>
    </style>
<% } -%>

<% revision.jsAssets.forEach(function (asset) { -%>
   <script src="<%- asset.version.url %>"></script>
<% }) -%>
<% if (revision.javascript.length) { -%>

    <script>
      <%- pad(revision.javascript, 6) %>
    </script>
<% } %>
  </head>
  <body>
    <%- pad(revision.html, 4) %>
  </body>
</html>